<h1>Create a blockq account</h1>
<% @user.password = @user.password_confirmation = nil %>

<%= form_for :user, :url => users_path do |f| -%>
<fieldset>
<%= label_tag 'username' %>
<%= f.text_field :username %></div>

<%= label_tag 'password' %>
<%= f.password_field :password %></p>

<%= label_tag 'password_confirmation', 'Confirm Password' %>
<%= f.password_field :password_confirmation %></li>

<%= submit_tag 'Sign up', {:class => 'submit'}%>

</fieldset>
<% end -%>
