<h1 id=""><%= @user.username %></h1>

<h2>Your quotes:</h2>
<% if !@user.quotes.blank? %>
	<ul id="quotes">
  <% for quote in @user.quotes %>
    <li class="quote">
    	<blockquote>
				<%= raw(quote.text) %>
			</blockquote>
			<%= link_to "See quote", quote %>
    </li>
  <% end %>
	</ul>
<% else %>
 		<p>You haven't added any quotes yet! <%= link_to "Add a quote", new_quote_path %> now.
	<% end %>
	
<% if !@user.tags.blank? %>
	<ul id="tags">
  <% for tag in @user.tags %>
    <li class="tag">
			<%= link_to tag.name, tag %>
		</li>
  <% end %>
	</ul>
<% else %>
  Tags will appear here as you add them to your quotes.
<% end %>

