<!DOCTYPE html>
<html>
<head>
  <title>Quotes</title>
  <%= stylesheet_link_tag :all %>
	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js", "jquery.rails.js", "jquery.ligatures.js", "application.js", :as => "blockq.js" %>
<%= csrf_meta_tag %>
</head>
<% content_tag :body, :id => "#{controller.controller_name}_#{controller.action_name}" do %>
	<div class="section" id="header">
		<%= link_to "blockq", root_path %>
		<%= link_to "Get involved!", new_user_path %>
		
		<%= link_to "blockq bookmarklet", "javascript:(function(){document.body.appendChild(document.createElement('script')).src='http://#{request.host_with_port}/javascripts/bookmarklet.js';})();"%>
	
	</div>
	<div class="section" id="main">
		<% flash.each do |key, message |%>
			<%= content_tag :p, message, :class => "#{key}" %>
		<% end %>
		<%= yield %>
	</div>
<% end %>
</html>
